body {
    background-color: #f3d6db;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

.poem {
    padding-top: 5%;
    text-align: center;
}

#map {
    width: 100vw;
    height: 400px;
}

.illustration {
    text-align: center;
}

.contents {
    text-align: center;
    padding-top: 7%;
}

img {
    width: 100vw;
    max-width: 500px;
    background-size: cover;
}