body {
    background-color: #f3d6db;
    text-align: center;
}

.poem {
    padding-top: 5%;
    text-align: center;
}

#map {
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.illustration {
    text-align: center;
}

.contents {
    text-align: center;
    padding-top: 7%;
}

.contents2 {
    text-align: center;
    padding-top: 7%;
}

.contents3 {
    width: 700px;
}

@media screen and (max-width : 800px) {
    div {
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: 100%;
        background-size: cover;
    }
}

@media screen and (max-width : 1400px) {
    div {
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: 500px;
        background-size: cover;
    }
}